whistle_apps/lib/erlsom-1.3/examples/example1/abb2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="a"/>
                <xsd:element name="b" type="xsd:string"/>
                <xsd:element name="b" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="a" type="xsd:string"/>
</xsd:schema>
